<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<button id="heartButton">Click Me!</button>-->
<a href="http://localhost:8080/show?URI=love">
<!--    <button id="heartButton"><img src="http://localhost:8080/images/1077035.png"/></button>-->
<!--    <button id="heartButton"><img src="http://localhost:8080/heart?URI=love"/></button>-->
    <button id="heartButton"><img src="http://localhost:8080/stringToImage"/></button>
</a>
<label id="messageDiv" value="fdsafs"></label>
<!--<h1>Counter: <span id="counterValue" th:text="${counter}">0</span></h1>-->
<!--<script th:inline="javascript">-->
<!--    var message = null;-->

<!--    document.getElementById("heartButton").addEventListener("click", function () {-->
<!--        // 버튼 클릭 시 API 호출-->

<!--        fetch('/heart?URI=love')-->
<!--            .then(response => response.text())-->
<!--            .then(receivedMessage => {-->
<!--                    // alert(message)-->
<!--                message = receivedMessage;-->
<!--                messageDiv.textContent = message;-->
<!--                messageDiv.style.display = "block"; // div 요소를 보이도록 설정-->
<!--                }-->
<!--            )-->
<!--            .catch(error => console.error('Error:', error));-->
<!--    });-->
<!--</script>-->
</body>
</html>